<app-sidbar></app-sidbar>
<div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg mt-14">
       <div class="grid grid-cols-3 gap-4 mb-4">
          <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
             <p class="text-2xl text-gray-400 dark:text-gray-500">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
             </p>
          </div>
          <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
             <p class="text-2xl text-gray-400 dark:text-gray-500">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
             </p>
          </div>
          <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
             <p class="text-2xl text-gray-400 dark:text-gray-500">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
             </p>
          </div>
       </div>
       <div *ngIf="allUsers.length > 0" class="container mx-auto">
         <div class="card m-5 p-3">
             <div class="card-body">
                 <table class="table-auto w-full border border-collapse border-gray-800" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                     <thead>
                         <tr class="bg-gray-200">
                             <th class="border px-4 py-2">ID</th>
                             <th class="border px-4 py-2">Name</th>
                             <th class="border px-4 py-2">Username</th>
                             <th class="border px-4 py-2">Email</th>
                             <th class="border px-4 py-2">Phone number</th>
                             <th class="border px-4 py-2">Address</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let user of allUsers" class="bg-white">
                             <td class="border px-4 py-2">{{ user.id }}</td>
                             <td class="border px-4 py-2">{{ user.name }}</td>
                             <td class="border px-4 py-2">{{ user.username }}</td>
                             <td class="border px-4 py-2">{{ user.email }}</td>
                             <td class="border px-4 py-2">{{ user.phone }}</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
     <div *ngIf="allUsers.length === 0">Loading...</div>
     
    </div>
 </div>
 