<app-header></app-header>
<section id="procedure-types" class="max-w-container buttom justify-center mx-auto mt-0 lgl:px-10 py-24">
    <img class="m-auto h-1/4 w-1/4"  src="../../../../assets/img/Edit-podcast.jpeg" />
    <h1 class=" mt-10 font-titleFont text-textBlue text-3xl font-semibold flex justify-center items-center"> PODCASTS</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lgl:grid-cols-3 gap-4 mt-10 lgl:px-10">
        <div *ngFor="let podcastResponse of podcastResponses" class="w-full bg- rounded-lg p-7 flex flex-col justify-center gap-6 hover:translate-y-2 transition-transform duration-300 group"
        style="background-color: rgba(66, 66, 66, 0.6); min-height: fit-content;">
            <div class="h-fit m-auto">
                <!-- <img class="mx-auto h-1/2" src="../../../../assets/img/transfer.png"/> -->
                <img class="mx-auto h-1/2" [src]="podcastResponse.img"/>
                <h3 class="text-bodycolor items-center text-2xl font-semibold">{{ podcastResponse.title }}</h3>
                <div class="audio-container">
                    <audio controls class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                        hover:bg-hoverColor duration-300">
                        <source [src]="podcastResponse.audio" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                    <!-- <audio class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" [attr.src]="podcastResponse.audio" controls></audio> -->
                </div>
                <p class="text-white text-[8]">
                    {{ showFullContent ? podcastResponse.desc : (podcastResponse.desc.length > 100 ? (podcastResponse.desc | slice:0:100) + '...' : podcastResponse.desc) }}
                    <span *ngIf="podcastResponse.desc.length > 100 && !showFullContent" (click)="showFullContent = true" style="cursor: pointer; color: blue;">Read more</span>
                </p>
                
                
                
                <!-- <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" >Play</button> -->
            </div>
        </div>
        <div class="w-full h-81 bg- rounded-lg p-7 flex flex-col justify-center gap-6 hover:translate-y-2 transition-transform duration-300 group"
        style="background-color: rgba(66, 66, 66, 0.6)">
            <div class="h-fit m-auto">
                <h1 class="mt-3 text-bodycolor items-center text-2xl font-semibold">MATCH PROGRAM OF THE WEEK</h1>
                <h3 class="mt-3 text-black items-center text-2xl font-semibold">Don’t miss the match program of the week</h3>
                <p class="mt-2 text-white text-[8]">Come and see the match program of the different leagues and cups
                </p>
                <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" >Play</button>
            </div>
        </div>
        <div class="w-full h-81 bg- rounded-lg p-7 flex flex-col justify-center gap-6 hover:translate-y-2 transition-transform duration-300 group"
        style="background-color: rgba(66, 66, 66, 0.6)">
            <div class="h-fit m-auto">
                <img class="m-auto h-1/2" src="../../../../assets/img/Edit-podcast.jpeg"/>
                <h3 class="mt-3 text-bodycolor items-center text-2xl font-semibold">Podcast</h3>
                <p class="mt-2 text-white text-[8]">Come and podcast on the 
                    matches reviews and 
                    interviews
                </p>
                <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" >Play</button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>