<section id="banner"  class="max-w-screen sec-1 h-full lgl:h-screen mx-auto bg-cover bg-no-repeat bottom-0 lgl:py-32 flex flex-col gap-8"
style="background-image: url('../../../../assets/img/istockphoto.jpg'); height: 500px">
    <div class="flex flex-col justify-center lgl:flex-row gap-10 m-auto">
        <div class="w-full justify-evenly text-base text-white font-medium 
        flex flex-col gap-4 mx-5 my-auto">
             <h1 class="text-5xl text-bodycolor">BIDEEW SPORT NEWS</h1>
             <h2 class="text-5xl text-textBlue ml-20">ZE INSIDE</h2>
            <!-- -->
            <div class="flex flex-col xs:flex-row gap-6 ml-20">
                <a routerLink="/Login">
                    <button class="px-4 py-2 rounded-md text-white text-[13] border border-textGreen
                    hover:bg-white hover:text-textBlue bg-textBlue duration-300">
                        Contact Us
                    </button>

                </a>
                <a routerLink="/Login">
                    <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-textBlue hover:text-white bg-bodycolor duration-300">
                        Subscribe
                    </button>
                </a>
            </div> 
        </div>
    </div>
</section>

<section id="procedure-types" class="max-w-container buttom justify-center mx-auto mt-0 lgl:px-10 py-24">
    <h1 class="font-titleFont text-textBlue text-3xl font-semibold flex justify-center items-center"> Ze Inside</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lgl:grid-cols-3 gap-4 mt-10 lgl:px-10">
        <div *ngFor="let interview of allInterviews" class="w-full h-81 bg- rounded-lg p-7 flex flex-col justify-center gap-6 hover:translate-y-2 transition-transform duration-300 group"
        style="background-color: rgba(66, 66, 66, 0.6)">
            <div class="h-fit m-auto">
                <!-- <img class="mx-auto h-1/2" src="../../../../assets/img/transfer.png"/> -->
                <img class="mx-auto h-1/2" [src]="interview.img"/>
                <h3 class="text-bodycolor items-center text-2xl font-semibold">{{ interview.title }}</h3>
                <div class="audio-container">
                    <audio controls class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                        hover:bg-hoverColor duration-300">
                        <source [src]="interview.audio" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                    <!-- <audio class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" [attr.src]="interview.audio" controls></audio> -->
                </div>
                <p class="text-white text-[8]">
                    {{ interview.desc }}
                </p>
                
                <!-- <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                    hover:bg-hoverColor duration-300" >Play</button> -->
            </div>
        </div>
    </div>
</section>