<app-header></app-header>
<div class="w-full bg- rounded-lg p-7 flex flex-col justify-center gap-6 hover:translate-y-2 transition-transform duration-300 group"
    style="background-color: rgba(66, 66, 66, 0.6); min-height: fit-content;">
    <div class="h-fit m-auto">
        <!-- <img class="mx-auto h-1/2" src="../../../../assets/img/transfer.png"/> -->
        <img class="mx-auto h-1/2" [src]="podcastResponse.img" />
        <h3 class="text-bodycolor items-center text-2xl font-semibold">{{ podcastResponse.title }}</h3>
        <p class="text-white text-[8]">
            {{ podcastResponse.desc }}
        </p>
        <div class="audio-container">
            <audio controls class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                        hover:bg-hoverColor duration-300">
                <source [src]="podcastResponse.audio" type="audio/mp3">
                Your browser does not support the audio tag.
            </audio>
        </div>
        
    </div>
</div>
<app-footer></app-footer>